#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.list-item {
  background-color: #FFFFFF; /* Dark gray background */
  margin-bottom: 10px;    /* Space between list items */
  padding: 10px;          /* Padding inside the list item */
  border-radius: 5px;     /* Rounded corners for a softer look */
  text-decoration: none;
}

.list-item a {
  text-decoration: none;
  color: #4A148C; /* Link color */
}